@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Quan_Ly_Quy_Core_MVC.Models.Transaction>
@section mycss {
    <link href="~/httt/css/mycss.css" rel="stylesheet">

}


@{
    ViewData["Title"] = "Index";
}

<!-- Thêm thư viện Bootstrap vào view -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-classFundId="@ViewData["ClassFundId"]" class="btn btn-success"><i class="material-icons"></i><span>Thêm mới</span></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsIncome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="material-icons"></i><span>Sửa</span></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="material-icons"></i><span>Xóa</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
